.header {
    margin: 0;
    width: inherit;
    border: 1px solid black;
    background-color: yellow;
    border-radius: 0 0 10px 10px;
    box-shadow: var(--boxShadow);
    position: sticky;
    top:0;
}